/* ATTENTION: do not @import this file in main.css 
 * quicknav: only to be displayed on sm, md
 * */

ul {
  padding: 0 8px;
  margin: 0 10px;
}

ul{
  list-style: disc;
}

#post-content > p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/*Default anchors for contents*/

.a-markdown{
  color: var(--color-primary);
}

.a-markdown:hover{
  text-decoration: underline;
}

/* Code rendering related */

#tableofcontents{
  min-width: 180px;
  max-width: 230px;
}

#TableOfContents ul{
  list-style: none;
  margin: 0;
}

/*Responsive styles */

/*Utils*/

.bord-white{
  border-width: 1px;
  --border-opacity: 1;
  border-color: #fff;
  border-color: rgba(255, 255, 255, var(--border-opacity));
  border-style: solid
}

.bord-white-rounded{
  border-width: 1px;
  --border-opacity: 1;
  border-color: #fff;
  border-color: rgba(255, 255, 255, var(--border-opacity));
  border-style: solid;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

#post-list{
  padding: 0px 10px 0px 0px;
}

#list-cat ul{
  min-width: 200px;
}

@media (min-width: 0px) and (max-width: 640px), (min-width: 641px) and (max-width: 768px){
  #post-list{
    padding: 0px 10px 0px 10px;
  }
}

/*Pagination for post list*/

/*Landing page for blog*/

#blog-body{
  --quicknav-height: 25px;
  display: grid;
  grid-template-areas:
    "sidenav post-title toc"
    "sidenav post-content toc"
  ;
  grid-template-columns: var(--sidenav-max-width) minmax(400px, auto) auto;
  grid-template-rows: auto -webkit-max-content;
  grid-template-rows: auto max-content;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

/* Positioning of objects on grid layout */

#sidenav { grid-area: sidenav;
}

#post-title { grid-area: post-title;
}

#post-content { grid-area: post-content;
}

#tableofcontents { grid-area: toc;
}

#quick-nav{ grid-area: quick-nav;
}

#post-list{
  grid-area: post-content;
  grid-column: span 2;
  grid-row: 1/4;
}

/*tableofcontents related styles*/

#TableOfContents{ position: fixed;
}

#tableofcontents{ width: 100%;
}

/*List styles*/

ul a:hover{
  text-decoration: underline;
}

ul a::before{
  content: "- "
}

ul a:hover::before{
  content: "->"
}

/*quicknav related styles*/

#quick-nav { display: none;
}

/*styles for sm and md*/

@media (min-width: 0px) and (max-width: 640px), (min-width: 641px) and (max-width: 768px) {
  #blog-body{ -moz-column-gap: 0px; column-gap: 0px
  }

  #quick-nav{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    color: black;
    width: 100%;
  }

  #quick-nav a{ margin: 0 10px;
  }

  #TableOfContents { position: relative;
  }
}

@media (min-width: 0px) and (max-width: 640px){
  #blog-body{
    grid-template-areas: 
      "sidenav"
      "post-title"
      "toc"
      "post-content"
      "quick-nav"
    ;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, -webkit-max-content) 1fr var(--quicknav-height);
    grid-template-rows: repeat(3, max-content) 1fr var(--quicknav-height);
  }

  #post-list{ grid-row: 2/4;
  }
}

@media (min-width: 641px) and (max-width: 768px){
  #blog-body{
    grid-template-areas: 
      "sidenav post-title"
      "sidenav toc"
      "sidenav post-content"
      "quick-nav quick-nav"
    ;
    grid-template-columns: var(--sidenav-md-width) calc(100% - var(--sidenav-md-width));
    grid-template-rows: repeat(3, auto) var(--quicknav-height);
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  #blog-body{
    grid-template-columns: var(--sidenav-md-width) minmax(400px, auto) auto;
  }
}

